<footer>
    <div id="footer_content">
        <a href="https://github.com/PauloRobertoPC" target="_blank">
            <img src="/assets/image/github.svg" class="dark icon_general">
        </a>
        <a href="https://www.linkedin.com/in/paulo-roberto-pinto-costa-1a2546184/" target="_blank">
            <img src="/assets/image/linkedin.svg" class="dark icon_general">
        </a>
        <a href="https://lattes.cnpq.br/7546133375271426" target="_blank">
            <img src="/assets/image/lattes.svg" class="dark icon_general">
        </a>
        <a href="mailto:prpc025pro@gmail.com">
            <img src="/assets/image/email.svg" class="dark icon_general">
        </a>
    </div>
    <div id="footer_copyright">
        Copyright © 2023 Paulo Roberto 
    </div>
</footer>
