html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Fonts
@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: italic;
    src: url('/assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
}

// general variables
$width_menu: 70px;
$width_content: 850px;

// dark variables
// $background-color-dark: #131418;
$background-color-dark: #252526;
$menu-color-dark: #2D2D30;
$color-dark: white;

// light variables
$background-color-light: #F5F7F8;
$menu-color-light: #FFFBF5;
$color-light: black;

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat Light', sans-serif; /* Apply the Montserrat font family to the body */
}

body.dark{
    background-color: $background-color-dark;
    color: $color-dark;
}

body.light{
    background-color: $background-color-light;
    color: $color-light;
}

a{
    color: inherit;
    opacity: 0.8;
}

a:hover{
    opacity: 1.0;
}

header{
    width: $width_menu;
    min-width: $width_menu;
    position: fixed;
}

#main_content{
    margin-left: $width_menu;
    padding: 20px 10px 20px 10px; //top, left, bottom, right
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 auto;
}

#center_content{
    margin-top: 30px;
    max-width: $width_content;
    width: 100%;
    flex-grow: 1;
}

nav{
    // background-color: $background-color-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

nav.dark{
    background-color: $menu-color-dark;
}

nav.light{
    background-color: $menu-color-light;

}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: inherit;
    opacity: 0.8
}

.menu a:hover {
    opacity: 1.0;
}

.menu a.current_page{
    opacity: 1.0;
    text-decoration: underline;
}

#menu_top{
    padding-top: 13px;
}

#menu_top li{
    padding-bottom: 10px;
}

.icon_menu{
    height: 40px;
    opacity: 0.8;
}

.icon_menu:hover{
    opacity: 1.0;
}

.menu_item{
    display: flex;
    flex-direction: column;
    width: $width_menu;
    align-items: center;
}

img.dark{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(105%) contrast(102%);
}

img.icon_general{
    height: 25px;
    width: 25px;
}

footer{
    padding: 30px 0px 10px 0px; //top, left, bottom, right
    margin-left: $width_menu;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_content{
    padding-bottom: 10px;
}

#footer_copyright{
    font-size: 13px;
}

#home{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 18px;
}

#home1{
    margin-bottom: 15px;
}

#home2{
    margin-top: 60px;
    margin-bottom: 60px;
}

#home2 p{
    margin-bottom: 20px;
}

#ul-home{
    margin-left: 40px;
    list-style: disc;
}

#ul-home li{
    margin-top: 10px;
}

.h1-home{
    font-weight: bold;
    font-size: 40px;
}

.h2-home{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tooltip{
    border-bottom: 2px dotted;
    opacity: 0.8;
}

.tooltip:hover{
    opacity: 1.0;
}

.home-spacer{
    margin-bottom: 40px;
}
